/*** home page ***/

.background-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    background-image: repeating-linear-gradient(-45deg, #600000 0px, rgb(0, 0, 0) 1000px, #600000 2000px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foreground-container {
    min-width: 500px;
    width: 60%;
    min-height: 500px;
    height: 50vh;
    padding: 30px;

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foreground-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*** track list ***/
.track-title {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

#tracks-container ul {
    list-style-type: none;
    padding: 0;
}

#tracks-container a {
    text-decoration: none;
}

.current-track {
    font-weight: bold;
}

.current-track-icon {
    margin-left: 5px;
    animation-name: fade-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes fade-in-out {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/*** player ***/
.player-container {
    margin-top: 10px;
    font-family: Helvetica;
    font-size: 12px;
}

.player {
    width: 400px;
    height: auto;
    background-color: #888888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.volume-and-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.volume-control-container {
    width: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.player-button.volume-button {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.volume-level-container {
    width: 100%;
    flex: 1;
    margin: 10px 0;
}

.volume-level-bar {
    width: 5px;
    height: 100%;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.volume-level {
    width: 5px;
    height: 50%;
    background-color: blue;
}

.volume-level[disabled=true] {
    background-color: rgb(79, 79, 79);
}

.volume-level-nob {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 4px;
    left: -3px;
    top: 50%;
    cursor: pointer;
}

.volume-level-nob[disabled=true] {
    background-color: rgb(79, 79, 79);
    cursor: auto;
}

.button-and-track-controls-container {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
}

.player-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    padding-top: 5px;
}

.player-button {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.player-button:active {
    background-color: #aaaaaa;
}

.player-button.play {
    width: 40px;
    height: 40px;
}

.checkbox-container {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.checkbox-and-label {
    width: 50%;
}

.checkbox-and-label input[type=checkbox] {
    margin-left: 0;
}

.track-position-container {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.position-bar {
    width: 100%;
    height: 5px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.completed-bar {
    height: 5px;
    background-color: blue;
}

.position-nob {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 4px;
    top: -3px;
    cursor: pointer;
}

.track-time-container {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.now-playing-container {
    width: 100%;
    height: 15px;
    position: relative;
    color: #FF9999;
    background-color: #330000;
    overflow: hidden;
}

.track-info-container {
    width: auto;
    position: absolute;
    white-space: nowrap;
}

.track-info-container-2 {
    width: auto;
    position: absolute;
    white-space: nowrap;
}

.back-btn-container {
    width: 115px;
    padding: 10px 0;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}